.dateHeader {
	padding: 16px;
}
.dateHeader--year {
	font-size: larger;
	background: $year_header_background;
}
.dateHeader--month {
	background: $month_header_background;
}

@media (min-width: $screen-sm-min) {
	.dateHeader {
		text-align: right;
	}
}