.eventsContainer {
	@include make-row();
}
.event {
	line-height: $line-for-normal;
	margin: 0 -15px $line-for-normal*2.5 -15px;
	@include make-sm-column(6);
	@include make-md-column(4);
	@include make-lg-column(3);
}
.event__widthContainer {
	max-width: $text-width;
	margin: 0 auto;
	padding: 15px;
	background: white;
}
.event__title {
	color: black;
	font-size: $font-large;
	line-height: $line-for-large;
	padding: 0.15*$line-for-large 0 0.35*$line-for-large 0;
	margin: 0 auto;
	max-width: $text-width;
	
	a {
		color: $dark;
	}
}
.event__mainImage {
	margin: -15px -15px 15px -15px;
	padding: 0;
	text-align: center;
	
	img {
		max-width: 100%;
	}
}

.event__image {
	margin-bottom: 30px;
	
	img {
		width: 100%;
	}
}

.event__text {
	padding: 0.25*$line-for-normal 0 0.75*$line-for-normal 0;
	margin: 0 auto;
	max-width: $text-width;
}
.event__date {
	color: $dark;
	margin: 0 auto;
	padding: 0.25*$line-for-normal 0 0.75*$line-for-normal 0;
	max-width: $text-width;
}
.event__mediaItem {
	margin-bottom: $line-for-normal;
	
	img {
		max-width: 100%;
		width: 100%;
	}
}
.event__mediaTitle {
	padding: 0 0 2*$line-for-normal 0;
	margin: 0 auto;
	max-width: $text-width;
}

.noEvents__smiley {
	font-size: $font-larger;
	margin: $line-for-larger 0;
}

@media (min-width: $screen-sm-min) {
	.eventsContainer {

	}
	.event {
		
		margin: 0 0 $line-for-normal*2.5 0;
	}
}