.navbar {
	margin: 8px 0;
}
.navbar__panel {

}
.navbar__panelHeading {
	padding: 8px 16px;
	background: $decade_header_background;
}
.navbar__itemGroup {
	list-style: none;
	padding: 0 8px;
}
.navbar__item {
	padding: 8px 16px;
	background: $year_header_background;
}
.navbar__item--active {
	background: $year_header_background_selected;
}
.navbar__panelCollapse {
	
}
.navbar__panelCollapse--collapsed {
	display: none;
}

@media (min-width: $screen-md-min) {
	.navbar {
		position: fixed;
		top: 3em;
		width: 132px;
	}
}

@media (min-width: $screen-lg-min) {
	.navbar {
		width: 165px;
	}
}