.navbar {
	margin: 8px 0;
	background: $decade_header_background;
	
	@include clearfix();
}
.navbar__panelHeading {
	float: left;
	padding: 8px 16px;
	background: $decade_header_background;
}
.navbar__panelHeading--active {
	background: $decade_header_background_selected;
	clear: right;
}
.navbar__itemGroup {
	list-style: none;
	margin: 0;
	padding: 0;
	background: $year_header_background;
}
.navbar__item {
	float: left;
	padding: 8px 16px;
	background: $year_header_background;
}
.navbar__item--active {
	background: $year_header_background_selected;
}
.navbar__panelCollapse {
	
}
.navbar__panelCollapse--collapsed {
	display: none;
}

@media (min-width: $screen-md-min) {
	.navbar {
		position: fixed;
		top: 3em;
		width: 132px;
		background: none;
	}
	.navbar__panelHeading {
		float: none;
	}
	.navbar__itemGroup {
		margin: 0 8px;
		@include clearfix();
	}
	.navbar__item {
		float: none;
	}
}

@media (min-width: $screen-lg-min) {
	.navbar {
		width: 165px;
	}
}