.pageHeader {
	font-size: $font-larger;
	margin: 0.2em auto 0.3em auto;
	max-width: $width-for-larger;
	padding: 0;
	color: $gray-dark;
	
	a {
		color: $text-color;
	}
}

@media (min-width: $screen-sm-min) {
	.pageHeader {
		margin: 0.2em 0 0.3em 0;
	}
}