body {
	background: $light url('pattern.png');
}
a {
	color: $dark;
	
	&:hover, &:active {
		color: $first;
	}
}
.header {
	@include make-row();
	margin-left: 0;
	margin-right: 0;
}
.header__title {
	@include make-sm-column(6);
	font-size: $font-larger;
	line-height: $line-for-larger;
	padding-top: 0.5*$line-for-larger;
	padding-bottom: 0.25*$line-for-larger;
	color: $dark;
	max-width: $text-width;
	margin: 0 auto;
}

.header__nav {
	@include make-sm-column(6);
	padding-left: 0;
	padding-right: 0;
	font-size: $font-normal;
	line-height: $line-for-normal;
	padding-top: 0.25*$line-for-normal;
	padding-bottom: 0.75*$line-for-normal;
	margin: 0 auto;
	max-width: $text-width;
	color: $dark;
}

.header__year {
	min-width: 2.8em;
	color: $dark;
	display: inline-block;
	
	a {
		color: $dark;
	}
}
.header__year--active {
	a {
		color: $first;
	}
}
.header__year--additional {
	display: none;
}
.header__toggleMore {
	border: none;
	background: none;
	outline: none;
	padding: 0;
	
	&:hover, &:focus {
		text-decoration: underline;
		color: $first;
	}
}
.header--nojs {
	.header__toggleMore {
		display: none;
	}
}
.header__more {
	.header__year {
		a {
			color: $second;
		}
	}
}
.header--js {
	.header__more {
		transition: 0.5s all ease;
		opacity: 1;
		overflow: hidden;
	}
	.header__more--hidden {
		opacity: 0;
		max-height: 0;
	}
}

.loader {
	font-size: $font-normal;
	line-height: $line-for-normal;
	padding: 0.25*$line-for-normal 0 0.75*$line-for-normal 0;
	margin: 0 auto;
	text-align: center;
	color: $second;
	
	a {
		color: $second;
	}
}

.separator {
	padding-top: 0.75*$line-for-normal;
	padding-bottom: 0.75*$line-for-normal;
	margin: 0;
	@include make-sm-column(12);
	text-align: center;
	font-size: $font-large;
}

.footer {
	margin: 0 auto;
	padding: 2*$line-for-normal 0 $line-for-normal 0;
	text-align: center;
	color: $second;
}
@media only screen and (min-width: 321px) {
	.header__nav {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media only screen and (min-width: $screen-sm-min) {
	.container-fluid {
		padding: 0 30px;
	}
	
	.header {
		margin-left: -30px;
		margin-right: -30px;
	}
	.header__title {
		margin: 0;
		max-width: none;
		text-align: right;
	}
	.header__nav {
		margin: 0;
		padding-top: 0.75*$line-for-normal;
		padding-bottom: 0.75*$line-for-normal;
		max-width: none;
	}
	.header--js {
		.header__more--hidden {
			max-height: $line-for-normal;
		}
	}
	
	.loader {
		margin: 0;
	}
}

@media only screen and (min-width: $screen-md-min) {
	.header__year--additional {
		display: inline-block;
	}
}