$event_background: #ffffff;
$event_title: #422A05;
$event_date: #808073;

$navbar_links: #422A05;
$decade_background: #FDFBCA;
$decade_background_selected: #FCEF8D;
$year_background: #FDFBCA;
$year_background_selected: #FFDF3B;

$year_header_text: #422A05;
$year_header_background: none;
$month_header_text: #422A05;
$month_header_background: none;