$event_background: #dddddd;
$decade_header_background: #e8e8e8;
$decade_header_background_selected: #e0c0c0;
$year_header_background: #e0e0e0;
$year_header_background_selected: #e0c0c0;
$month_header_background: #e8e8e8;