/*body {
	background-image : -webkit-linear-gradient(top, #fff 0, #fff 95%, #f00 95%, #f00 100%) ;
	background-image : -moz-linear-gradient(top, #fff 0, #fff 95%, #f00 95%, #f00 100%) ;
	background-image : linear-gradient(top, #fff 0, #fff 95%, #f00 95%, #f00 100%) ;
	background-repeat : repeat-y ;
	background-size : 100% 21px ;
	background-position: 0 10.5px;
	text-decoration: underline;
}*/
/*
$event_background: #ffffff;
$event_title: #422A05;
$event_date: #808073;
$nav_color: #808073;
$gallery_background: #222222;

$navbar_links: #422A05;
$decade_background: #FDFBCA;
$decade_background_selected: #FCEF8D;
$year_background: #FDFBCA;
$year_background_selected: #FFDF3B;

$year_header_text: #422A05;
$year_header_background: none;
$month_header_text: #422A05;
$month_header_background: none;
*/
/*
$gray-dark: #333;
$text-color: #333;
*/
body {
  font-family: "Libre Baskerville", "Georgia", serif;
  font-size: 14px;
  background: #F1EFA5; }

a {
  color: #554236; }
  a:hover, a:active {
    color: #D3CE3D; }

@font-face {
  font-family: 'Libre Baskerville';
  src: url("../fonts/LibreBaskerville-Regular.woff") format("woff"), url("../fonts/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.pageHeader {
  font-size: 2.25em;
  line-height: 1.3333em;
  padding: 0.66665em 0 0.33333em 0;
  margin: 0 auto;
  max-width: 14.666em;
  color: #554236; }

.pageNav {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.375em 0 1.125em 0;
  margin: 0 auto;
  max-width: 33em;
  color: #554236; }

.pageNav__year {
  padding: 0.5em;
  color: #554236; }

.pageNav__year--active {
  color: #D3CE3D; }

.pageNav__year--additional {
  display: none; }

.loader {
  font-size: 1em;
  line-height: 1.5em;
  max-width: 33em;
  padding: 0.375em 0 1.125em 0;
  margin: 0 auto; }
  .loader a {
    color: #554236; }

@media (min-width: 768px) {
  .pageHeader {
    margin: 0;
    max-width: none;
    text-align: right; }

  .pageNav {
    margin: 0;
    padding: 2.625em 0 1.125em 0;
    max-width: none; }

  .pageNav__year--additional {
    display: inline; }

  .loader {
    margin: 0; } }
.event {
  line-height: 1.5em;
  background: white;
  margin: 0 -15px 3.75em -15px; }

.event__widthContainer {
  max-width: 33em;
  margin: 0 auto;
  padding: 15px; }

.event__title {
  color: black;
  font-size: 1.5em;
  line-height: 1em;
  padding: 0.15em 0 0.35em 0;
  margin: 0 auto;
  max-width: 22em; }
  .event__title a {
    color: #554236; }

.event__mainImage {
  margin: -15px -15px 15px -15px;
  padding: 0;
  text-align: center; }
  .event__mainImage img {
    max-height: 15em;
    max-width: 100%; }

.event__image {
  margin-bottom: 30px; }
  .event__image img {
    width: 100%; }

.event__text {
  padding: 0.375em 0 1.125em 0;
  margin: 0 auto;
  max-width: 33em; }

.event__date {
  color: #554236;
  margin: 0 auto;
  padding: 0.375em 0 1.125em 0;
  max-width: 33em; }

.event__mediaItem {
  margin-bottom: 1.5em; }
  .event__mediaItem img {
    max-width: 100%;
    width: 100%; }

.event__mediaTitle {
  padding: 0 0 3em 0;
  margin: 0 auto;
  max-width: 33em; }

.noEvents__smiley {
  font-size: 2.25em;
  margin: 1.3333em 0; }

@media (min-width: 768px) {
  .event__title, .event__text, .event__date, .event__mainImage {
    max-width: none;
    margin-left: 0;
    margin-right: 0; }

  .event__mainImage {
    text-align: right; } }

/*# sourceMappingURL=screen.css.map */
