/*body {
	background-image : -webkit-linear-gradient(top, #fff 0, #fff 95%, #f00 95%, #f00 100%) ;
	background-image : -moz-linear-gradient(top, #fff 0, #fff 95%, #f00 95%, #f00 100%) ;
	background-image : linear-gradient(top, #fff 0, #fff 95%, #f00 95%, #f00 100%) ;
	background-repeat : repeat-y ;
	background-size : 100% 21px ;
	background-position: 0 10.5px;
	text-decoration: underline;
}*/
/*
$event_background: #ffffff;
$event_title: #422A05;
$event_date: #808073;
$nav_color: #808073;
$gallery_background: #222222;

$navbar_links: #422A05;
$decade_background: #FDFBCA;
$decade_background_selected: #FCEF8D;
$year_background: #FDFBCA;
$year_background_selected: #FFDF3B;

$year_header_text: #422A05;
$year_header_background: none;
$month_header_text: #422A05;
$month_header_background: none;
*/
/*
$gray-dark: #333;
$text-color: #333;
*/
html {
  font-size: 16px; }

body {
  font-family: "Libre Baskerville", "Georgia", serif;
  font-size: 16px; }

@font-face {
  font-family: 'Libre Baskerville';
  src: url("../fonts/LibreBaskerville-Regular.woff") format("woff"), url("../fonts/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  background: #f8f7f7 url("pattern.png"); }

a {
  color: #331400; }
  a:hover, a:active {
    color: #ff6500; }

.header {
  margin-left: -15px;
  margin-right: -15px;
  margin-left: 0;
  margin-right: 0; }
  .header:before, .header:after {
    content: " ";
    display: table; }
  .header:after {
    clear: both; }

.header__title {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 2.25em;
  line-height: 1.3333em;
  padding-top: 0.66665em;
  padding-bottom: 0.33333em;
  color: #331400;
  max-width: 33rem;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .header__title {
      float: left;
      width: 50%; } }

.header__nav {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0;
  padding-right: 0;
  font-size: 1em;
  line-height: 1.5em;
  padding-top: 0.375em;
  padding-bottom: 1.125em;
  margin: 0 auto;
  max-width: 33rem;
  color: #331400; }
  @media (min-width: 768px) {
    .header__nav {
      float: left;
      width: 50%; } }

.header__year {
  min-width: 2.8em;
  color: #331400;
  display: inline-block; }
  .header__year a {
    color: #331400; }

.header__year--active a {
  color: #ff6500; }

.header__year--additional {
  display: none; }

.header__toggleMore {
  border: none;
  background: none;
  outline: none;
  padding: 0; }
  .header__toggleMore:hover, .header__toggleMore:focus {
    text-decoration: underline;
    color: #ff6500; }

.header--nojs .header__toggleMore {
  display: none; }

.header__more .header__year a {
  color: #b3754d; }

.header--js .header__more {
  transition: 0.5s all ease;
  opacity: 1;
  overflow: hidden; }
.header--js .header__more--hidden {
  opacity: 0;
  max-height: 0; }

.loader {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.375em 0 1.125em 0;
  margin: 0 auto;
  text-align: center;
  color: #b3754d; }
  .loader a {
    color: #b3754d; }

.separator {
  padding-top: 1.125em;
  padding-bottom: 1.125em;
  margin: 0;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-size: 1.5em; }
  @media (min-width: 768px) {
    .separator {
      float: left;
      width: 100%; } }

.footer {
  margin: 0 auto;
  padding: 3em 0 1.5em 0;
  text-align: center;
  color: #b3754d; }
  .footer a {
    color: #b3754d; }

@media only screen and (min-width: 321px) {
  .header__nav {
    padding-left: 15px;
    padding-right: 15px; } }
@media only screen and (min-width: 768px) {
  .container-fluid {
    padding: 0 30px; }

  .header {
    margin-left: -30px;
    margin-right: -30px; }

  .header__title {
    margin: 0;
    max-width: none;
    text-align: right; }

  .header__nav {
    margin: 0;
    padding-top: 1.125em;
    padding-bottom: 1.125em;
    max-width: none; }

  .header--js .header__more--hidden {
    max-height: 1.5em; }

  .loader {
    margin: 0; } }
@media only screen and (min-width: 992px) {
  .header__year--additional {
    display: inline-block; } }
.eventsContainer {
  margin-left: -15px;
  margin-right: -15px; }
  .eventsContainer:before, .eventsContainer:after {
    content: " ";
    display: table; }
  .eventsContainer:after {
    clear: both; }

.event {
  line-height: 1.5em; }

.event--preview {
  margin: 0 -15px 3.75em -15px; }

.event--imp1 .event__widthContainer {
  background-color: #ff6500; }
.event--imp1 .event__header {
  color: #f8f7f7; }
  .event--imp1 .event__header a {
    color: #f8f7f7; }

.event--imp2 .event__widthContainer {
  background-color: #b3754d; }
.event--imp2 .event__header {
  color: #f8f7f7; }
  .event--imp2 .event__header a {
    color: #f8f7f7; }

.event--imp3 .event__widthContainer {
  background-color: #bca18f; }
.event--imp3 .event__header {
  color: #f8f7f7; }
  .event--imp3 .event__header a {
    color: #f8f7f7; }

.event--imp1.event--preview {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .event--imp1.event--preview {
      float: left;
      width: 100%; } }

.event--imp2.event--preview, .event--imp3.event--preview {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .event--imp2.event--preview, .event--imp3.event--preview {
      float: left;
      width: 50%; } }
  @media (min-width: 992px) {
    .event--imp2.event--preview, .event--imp3.event--preview {
      float: left;
      width: 33.33333%; } }
  @media (min-width: 1200px) {
    .event--imp2.event--preview, .event--imp3.event--preview {
      float: left;
      width: 25%; } }
  .event--imp2.event--preview.event--width2, .event--imp3.event--preview.event--width2 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 768px) {
      .event--imp2.event--preview.event--width2, .event--imp3.event--preview.event--width2 {
        float: left;
        width: 100%; } }
    @media (min-width: 992px) {
      .event--imp2.event--preview.event--width2, .event--imp3.event--preview.event--width2 {
        float: left;
        width: 66.66667%; } }
    @media (min-width: 1200px) {
      .event--imp2.event--preview.event--width2, .event--imp3.event--preview.event--width2 {
        float: left;
        width: 50%; } }
  .event--imp2.event--preview.event--width3, .event--imp3.event--preview.event--width3 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 768px) {
      .event--imp2.event--preview.event--width3, .event--imp3.event--preview.event--width3 {
        float: left;
        width: 100%; } }
    @media (min-width: 992px) {
      .event--imp2.event--preview.event--width3, .event--imp3.event--preview.event--width3 {
        float: left;
        width: 100%; } }
    @media (min-width: 1200px) {
      .event--imp2.event--preview.event--width3, .event--imp3.event--preview.event--width3 {
        float: left;
        width: 75%; } }

.event--detail {
  margin: 0 -15px 3.75em -15px; }
  .event--detail .event__header {
    max-width: 33rem;
    margin: 0 auto; }

.event__widthContainer {
  max-width: 33rem;
  margin: 0 auto;
  background-image: url("pattern.png"); }

.event__header {
  padding: 15px; }

.event__preview .event__header {
  max-height: 108px;
  overflow: hidden; }

.event__title {
  font-size: 1.5em;
  line-height: 1em;
  padding: 0.15em 0 0.35em 0;
  margin: 0 auto;
  max-width: 33rem; }

.event__mainImage {
  padding: 0;
  text-align: center; }
  .event__mainImage img {
    width: 100%; }

.event--imp2 .event__mainImage, .event--imp3 .event__mainImage {
  overflow: hidden;
  position: relative; }
  .event--imp2 .event__mainImage img, .event--imp3 .event__mainImage img {
    position: absolute;
    top: 0;
    left: 0; }
.event--imp2.event--width1 .event__mainImage, .event--imp3.event--width1 .event__mainImage {
  padding-bottom: 66.6%; }
.event--imp2.event--width2 .event__mainImage, .event--imp3.event--width2 .event__mainImage {
  padding-bottom: 33.3%; }
  .event--imp2.event--width2 .event__mainImage img, .event--imp3.event--width2 .event__mainImage img {
    left: -15px; }
.event--imp2.event--width3 .event__mainImage, .event--imp3.event--width3 .event__mainImage {
  padding-bottom: 33.3%; }
  .event--imp2.event--width3 .event__mainImage img, .event--imp3.event--width3 .event__mainImage img {
    left: -15px; }

.event__text {
  padding: 0.375em 0 1.125em 0;
  margin: 0 auto 0 0;
  max-width: 33rem; }

.event__date {
  margin: 0 auto;
  padding: 0.375em 0 1.125em 0;
  max-width: 33rem; }

.event__mediaItem {
  margin-bottom: 1.5em; }
  .event__mediaItem img {
    max-width: 100%;
    width: 100%; }

.event__mediaTitle {
  padding: 0 0 3em 0;
  margin: 0 auto;
  max-width: 33rem; }

.event__gallery {
  padding: 15px 0; }

.event__navigation {
  display: none; }

.event__image {
  margin-bottom: 15px;
  text-align: center; }
  .event__image img {
    max-width: 100%;
    max-height: 90vh; }

.event__imageText {
  text-align: left;
  max-width: 33rem;
  margin: 0.375em auto 1.125em auto;
  padding: 0 15px; }

.noEvents__smiley {
  font-size: 2.25em;
  margin: 1.3333em 0; }

@media only screen and (min-width: 768px) {
  .event {
    margin: 0 0 15px 0; }

  .event--preview {
    margin-bottom: 30px; }

  .event__gallery {
    margin-left: -15px;
    margin-right: -15px;
    margin: 0 -22.5px -15px -22.5px; }
    .event__gallery:before, .event__gallery:after {
      content: " ";
      display: table; }
    .event__gallery:after {
      clear: both; }

  .event--width1 .event__header {
    max-height: 112px;
    max-height: 7rem;
    overflow: hidden; }

  .event--imp1.event--preview {
    padding-left: 15px;
    padding-right: 15px; }
    .event--imp1.event--preview .event__widthContainer {
      max-width: none; }
      .event--imp1.event--preview .event__widthContainer:before, .event--imp1.event--preview .event__widthContainer:after {
        content: " ";
        display: table; }
      .event--imp1.event--preview .event__widthContainer:after {
        clear: both; }
    .event--imp1.event--preview .event__mainImage {
      position: relative;
      min-height: 1px;
      padding-left: 0;
      padding-right: 15px; } }
    @media only screen and (min-width: 768px) and (min-width: 768px) {
      .event--imp1.event--preview .event__mainImage {
        float: left;
        width: 50%; } }
@media only screen and (min-width: 768px) {
    .event--imp1.event--preview .event__header {
      position: relative;
      min-height: 1px;
      padding: 30px;
      float: left;
      width: 50%; }
      .event--imp1.event--preview .event__header .event__title, .event--imp1.event--preview .event__header .event__date {
        max-width: none; }

  .event--width2.event--preview,
  .event--width3.event--preview {
    padding-left: 15px;
    padding-right: 15px; }
    .event--width2.event--preview .event__widthContainer,
    .event--width3.event--preview .event__widthContainer {
      max-width: none; }
      .event--width2.event--preview .event__widthContainer:before, .event--width2.event--preview .event__widthContainer:after,
      .event--width3.event--preview .event__widthContainer:before,
      .event--width3.event--preview .event__widthContainer:after {
        content: " ";
        display: table; }
      .event--width2.event--preview .event__widthContainer:after,
      .event--width3.event--preview .event__widthContainer:after {
        clear: both; }
    .event--width2.event--preview .event__mainImage,
    .event--width3.event--preview .event__mainImage {
      position: relative;
      min-height: 1px;
      padding-left: 0;
      padding-right: 15px; } }
    @media only screen and (min-width: 768px) and (min-width: 768px) {
      .event--width2.event--preview .event__mainImage,
      .event--width3.event--preview .event__mainImage {
        float: left;
        width: 50%; } }
@media only screen and (min-width: 768px) {
    .event--width2.event--preview .event__header,
    .event--width3.event--preview .event__header {
      position: relative;
      min-height: 1px;
      padding: 30px;
      float: left;
      width: 50%; }
      .event--width2.event--preview .event__header .event__title, .event--width2.event--preview .event__header .event__date,
      .event--width3.event--preview .event__header .event__title,
      .event--width3.event--preview .event__header .event__date {
        max-width: none; }

  .event--nojs .event__image {
    position: relative;
    min-height: 1px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    position: relative;
    min-height: 1px;
    padding-left: 7.5px;
    padding-right: 7.5px; } }
  @media only screen and (min-width: 768px) and (min-width: 992px) {
    .event--nojs .event__image {
      float: left;
      width: 50%; } }
  @media only screen and (min-width: 768px) and (min-width: 1200px) {
    .event--nojs .event__image {
      float: left;
      width: 33.33333%; } }

@media only screen and (min-width: 768px) {
  .event--js.event--detail .event__header {
    margin-bottom: 15px; }
  .event--js.event--detail .event__gallery {
    display: table;
    padding: 30px 0;
    padding: 6vh 0;
    margin-left: -30px;
    margin-right: -30px;
    background: #160b04 url("pattern.png"); }
  .event--js.event--detail .event__galleryRow {
    margin-left: -15px;
    margin-right: -15px;
    display: table-row;
    height: 90vh; }
    .event--js.event--detail .event__galleryRow:before, .event--js.event--detail .event__galleryRow:after {
      content: " ";
      display: table; }
    .event--js.event--detail .event__galleryRow:after {
      clear: both; }
  .event--js.event--detail .event__navigation {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    text-align: center;
    cursor: pointer; } }
  @media only screen and (min-width: 768px) and (min-width: 768px) {
    .event--js.event--detail .event__navigation {
      float: left;
      width: 8.33333%; } }
@media only screen and (min-width: 768px) {
  .event--js.event--detail .event__gallery--singleImage .event__navigation {
    cursor: auto; }
  .event--js.event--detail .event__gallery--singleImage .event__navigationArrow {
    display: none; }
  .event--js.event--detail .event__navigationArrow {
    vertical-align: middle; }
    .event--js.event--detail .event__navigationArrow button {
      background: none;
      border: none;
      outline: none;
      padding: 15px;
      font-size: 30px;
      color: #bca18f; }
  .event--js.event--detail .event__galleryWrapper {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle; } }
  @media only screen and (min-width: 768px) and (min-width: 768px) {
    .event--js.event--detail .event__galleryWrapper {
      float: left;
      width: 83.33333%; } }
@media only screen and (min-width: 768px) {
  .event--js.event--detail .event__navigation, .event--js.event--detail .event__galleryWrapper {
    display: table-cell;
    float: none;
    vertical-align: middle; }
  .event--js.event--detail .event__image {
    display: none;
    margin-bottom: 0;
    position: relative; }
  .event--js.event--detail .event__image--active {
    display: block; }
  .event--js.event--detail .event__imageText {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    max-width: none;
    text-align: center;
    margin: 0;
    padding: 15px;
    color: #f8f7f7;
    background: #160b04;
    background: rgba(22, 11, 4, 0.9); } }

/*# sourceMappingURL=screen.css.map */
