/*body {
	background-image : -webkit-linear-gradient(top, #fff 0, #fff 95%, #f00 95%, #f00 100%) ;
	background-image : -moz-linear-gradient(top, #fff 0, #fff 95%, #f00 95%, #f00 100%) ;
	background-image : linear-gradient(top, #fff 0, #fff 95%, #f00 95%, #f00 100%) ;
	background-repeat : repeat-y ;
	background-size : 100% 21px ;
	background-position: 0 10.5px;
	text-decoration: underline;
}*/
/*
$event_background: #ffffff;
$event_title: #422A05;
$event_date: #808073;
$nav_color: #808073;
$gallery_background: #222222;

$navbar_links: #422A05;
$decade_background: #FDFBCA;
$decade_background_selected: #FCEF8D;
$year_background: #FDFBCA;
$year_background_selected: #FFDF3B;

$year_header_text: #422A05;
$year_header_background: none;
$month_header_text: #422A05;
$month_header_background: none;
*/
/*
$gray-dark: #333;
$text-color: #333;
*/
html {
  font-size: 16px; }

body {
  font-family: "Libre Baskerville", "Georgia", serif;
  font-size: 16px;
  background: #F1EFA5; }

a {
  color: #554236; }
  a:hover, a:active {
    color: #D3CE3D; }

@font-face {
  font-family: 'Libre Baskerville';
  src: url("../fonts/LibreBaskerville-Regular.woff") format("woff"), url("../fonts/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.container-fluid {
  padding: 0 30px; }

.pageHeader {
  font-size: 2.25em;
  line-height: 1.3333em;
  padding: 0.66665em 0 0.33333em 0;
  margin: 0 auto;
  max-width: 33rem;
  color: #554236; }

.pageNav {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.375em 0 1.125em 0;
  margin: 0 auto;
  max-width: 33rem;
  color: #554236; }

.pageNav__year {
  padding: 0.5em;
  color: #554236; }

.pageNav__year--active {
  color: #D3CE3D; }

.pageNav__year--additional {
  display: none; }

.loader {
  font-size: 1em;
  line-height: 1.5em;
  max-width: 33rem;
  padding: 0.375em 0 1.125em 0;
  margin: 0 auto; }
  .loader a {
    color: #554236; }

@media (min-width: 768px) {
  .pageHeader {
    margin: 0;
    max-width: none;
    text-align: right; }

  .pageNav {
    margin: 0;
    padding: 2.625em 0 1.125em 0;
    max-width: none; }

  .pageNav__year--additional {
    display: inline; }

  .loader {
    margin: 0; } }
.eventsContainer {
  margin-left: -15px;
  margin-right: -15px; }
  .eventsContainer:before, .eventsContainer:after {
    content: " ";
    display: table; }
  .eventsContainer:after {
    clear: both; }

.event {
  line-height: 1.5em;
  margin: 0 -15px 3.75em -15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .event {
      float: left;
      width: 50%; } }
  @media (min-width: 992px) {
    .event {
      float: left;
      width: 33.33333%; } }
  @media (min-width: 1200px) {
    .event {
      float: left;
      width: 25%; } }
  .event.event--imp1 .event__widthContainer {
    background: #F77825;
    color: white; }
    .event.event--imp1 .event__widthContainer a {
      color: white; }
  .event.event--imp2 .event__widthContainer {
    background: #60B99A;
    color: white; }
    .event.event--imp2 .event__widthContainer a {
      color: white; }
  .event.event--imp3 .event__widthContainer {
    background: #eae779;
    color: #554236; }
    .event.event--imp3 .event__widthContainer a {
      color: #554236; }

.event__widthContainer {
  max-width: 33rem;
  margin: 0 auto;
  padding: 15px; }

.event__title {
  font-size: 1.5em;
  line-height: 1em;
  padding: 0.15em 0 0.35em 0;
  margin: 0 auto;
  max-width: 33rem; }

.event__mainImage {
  margin: -15px -15px 15px -15px;
  padding: 0;
  text-align: center; }
  .event__mainImage img {
    max-width: 100%; }

.event__image {
  margin-bottom: 30px; }
  .event__image img {
    width: 100%; }

.event__text {
  padding: 0.375em 0 1.125em 0;
  margin: 0 auto;
  max-width: 33rem; }

.event__date {
  margin: 0 auto;
  padding: 0.375em 0 1.125em 0;
  max-width: 33rem; }

.event__mediaItem {
  margin-bottom: 1.5em; }
  .event__mediaItem img {
    max-width: 100%;
    width: 100%; }

.event__mediaTitle {
  padding: 0 0 3em 0;
  margin: 0 auto;
  max-width: 33rem; }

.noEvents__smiley {
  font-size: 2.25em;
  margin: 1.3333em 0; }

@media (min-width: 768px) {
  .event {
    margin: 0 0 3.75em 0; } }

/*# sourceMappingURL=screen.css.map */
